html
{
    background-color: aqua;
}

p
{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: sienna;
}

h1
{
    color:crimson;
}

h3
{
    color: blueviolet;
}