p
{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: sienna;
}

h1
{
    color: blue;
    background-color: lightblue;
    padding: 16px;
    text-align: center;
}

h3
{
    color: blueviolet;
}

li
{
    background-color: lightblue;
    padding: 8px;
}
